# Jupyter
.ipynb_checkpoints/

# Data
DATA/

# Scratch / backups
BACKUP*.ipynb
SCRATCH*.ipynb
*_BACKUP*.ipynb
*BAK*

# Docs & writeups
*.docx
Writeup/

# Python junk
__pycache__/
*.pyc

# Misc
.DS_Store
